body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
    height: 100%;
    color: #777;
    line-height: 1.8;
	scroll-behavior: smooth;
}

/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3 
{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-1 
{
    background-image: url("../images/img1.png");
    min-height: 100%;
}

/* Second image (Portfolio) */
.bgimg-2 
{
    background-image: url("../images/img2.png");
    min-height: 400px;
}

/* Third image (Contact) */
.bgimg-3 
{
    background-image: url("../images/img3.png");
    min-height: 400px;
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}


.titleText {
	font-weight: bold;
	text-shadow: 2px 2px 2px black;
	background-color: rgba(255,255,255,0.50);
}
